<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

<main>
  <h1> Structual Directives</h1>
  <ng-template hideAfter>
  <section class="banner primary">
  <h2>Temporary content</h2>
  <p>This layout should disappear in 5 seconds</p>
</section>
</ng-template>
</main>

<button (click)="onAdd()">Add</button>
  <ul>
    <li *ngFor="let course of courses; index as i;even as isEven">
      {{i}}-{{course.name}}
        <button (click)="onRemove(course)">Remove Item</button>
        <button (click)="onChange(course)">change Item</button>
    </li>
  </ul>